* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --c-white: white;
    --c-red: #F7544D;
    --c-purple:#7274F7;
    --c-yellow: #E6AC6E;
}

body {
    background: url(/Website/backgrounds/Hobbies.jpg) fixed, center, no-repeat;
    font-family: 'Poppins' !important;
}

section.second-background {
    background: rgba(0, 0, 0, 0.725);
    width: 100%;
    height: 900px;
    position: absolute;
    z-index: 0;
}

nav {
    background: rgba(0, 0, 0, 0.750);
    width: 100%;
    height: 100px;
    position: relative;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a {
    line-height: 100px;
    margin: 0 10px 0 10px;
    color: var(--c-white);
    padding: 5px 15px;
    font-size: 1.3em;
    transition: 0.5s;
}

.red-link:hover {
    border-bottom: 1px solid var(--c-red);
    margin-right: 17px;
    color: var(--c-red);
}

.blue-link:hover {
    border-bottom: 1px solid var(--c-purple);
    margin: 0 17px;
    color: #7274F7;
}

.yellow-link:hover {
    border-bottom: 1px solid #E6AC6E;
    margin-left: 17px;
    color: #E6AC6E;
}

.logo {
    font-size: 4em;
    transition: 0.5s;
    color: var(--c-white);
    position: absolute;
    left: 15%;
}
.logo:hover {
    color: var(--c-purple);
    margin: 0 15px;
}

header {
    width: 40%;
    margin: 20px 12%;
    padding: 40px;
    opacity: 0.1;
    color: #FFFAFA;
    animation-name: appear;
    animation-fill-mode: forwards;
    animation-duration: 5s;
}

header h1 {
    font-size: 60px;
    color:#80451c;
}
header p {
    padding-top: 25px;
    font-size: 21px;
}

@keyframes appear {
    100% {
        opacity: .9;
    }
}

.lichess__bottom button {
    background: #5c381e;
    color: var(--c-white);
    font-size: 2.5em;
    font-weight: bold;
    padding: 10px 15px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    transition: .5s;
    cursor: pointer;
}

.lichess__bottom button:hover {
    transform: scale(1.05);
    background: #80451c;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.815);
}

video {
    background: black;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    width: 925px;
    height: 555px;
    top: 20%;
    right: 1.5%;
}